/* img {
    width: 100%;
    height: auto;
    border: 2px solid black;
} */

.grid {
    /* backdrop-filter: blur(20px); */
}

#container {
    width: 800px;
    height: 400px;

    display: grid;
    /* grid-template-columns: repeat(10, 10fr);
    grid-template-rows: repeat(5, 10fr); */

    background-image: url("img/better_call_morty.jpg");
    background-size: cover;

    border: 2px solid black;
}

h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
