html {
    color-scheme: dark;
}

#container {
    width: 1000px;
    height: 500px;

    display: grid;
    background-size: contain;

    border: 2px solid black;
}

h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
